.navbar{
	width: 354px;
	height: 100%;
	background-color: #fff;
	padding: 50px 27px;
	h3{
		font-weight: 600;
		font-size: 28px;
		line-height: 35px;
		color: #212B36;
		margin-bottom: 10px;
	}
	article{
		width: 300px;
		height: 120px;
		background: rgba(65, 182, 77, 0.25);
		border-radius: 10px;
		padding: 10px 14px;
		display: flex;
		column-gap: 25px;
		margin-top: 18px;
		h3{
			font-weight: 500;
			font-size: 20px;
			line-height: 128.52%;
			color: #2B3844;
		}
		p{
			font-weight: 400;
			font-size: 15px;
			line-height: 128.52%;
			color: #2B3844;
			margin: 12px 0;
		}
		img{
			cursor: pointer;
		}
	}
}