.books__small{
	width: 160px;
	min-height: 260px;
	background-color: #fff;
	padding: 15px;
	img{
		width: 130px;
	}
	h3{
		font-weight: 400;
		font-size: 12px;
		line-height: 128.52%;
		color: #4D4D4D;
		padding-top: 12px;
	}
	h4{
		font-weight: 400;
		font-size: 10px;
		line-height: 128.52%;
		color: #4D4D4D;
		padding-top: 5px;
	}
	p{
		font-weight: 400;
		font-size: 10px;
		line-height: 128.52%;
		color: #4D4D4D;
		padding-top: 5px;
	}
}